<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<form action="/join" method="POST">
    <label>
        <input type="text" name="username" placeholder="Username"/>
    </label> <br>
    <label>
        <input type="password" name="password" placeholder="Password"/>
    </label> <br>
    <label>
        <input type="email" name="email" placeholder="Email"/>
    </label> <br>
    <button type="submit">로그인</button>
</form>
</body>
</html>