<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<form action="/login" method="POST">
    <label>
        <input type="text" name="username" placeholder="Username"/>
    </label> <br>
    <label>
        <input type="password" name="password" placeholder="Password"/>
    </label> <br>
    <button type="submit">로그인</button>
</form>

<!-- oauth2 라이브러리 사용하면 /oauth2/authorization/ 이 주소값이 고정이기 떄문에 이렇게 사용한다.-->
<a href="/oauth2/authorization/google">구글 로그인</a>
<a href="/oauth2/authorization/facebook">페이스북 로그인</a>
<a href="/oauth2/authorization/naver">네이버 로그인</a>
<a href="/joinForm">회원가입을 아직 하지 않으셨나요?</a>
</body>
</html>